@media screen and (max-width:700px){
    .footer{
        display: grid;
        grid-template-columns: 20px 20px;
        gap: 2px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .navbar{
        
            margin-left: 3%;
            margin-top: -5%;
            padding: 10px;
        
        display: grid;
        grid-template-columns: auto auto auto;
    }
    body{
        width:200px;
    }
    .team {
        display: grid;
        grid-template-columns: 200px;
        margin-bottom: 5%;
        margin-top: 3%;
        padding-left: 8%;
        width: fit-content;
    }
    #our {
        margin-top: 390%;
        margin-bottom: 4%;
        margin-left: 17%;
        width: fit-content;
    }
    .about{
        display: grid;
        grid-template-columns: 20px;
        
        margin-left: 4%;
        /* color:black; */
        /* color: #2B8A3E; */
        font-size: 40px;
        width: 400px;
    }
    .us{
        display: grid;
        grid-template-columns: 200px;
    }
    .navbar{
        margin-left: 3%;
        width: fit-content;
    }
    .nav{
        display: inline;
        margin-top: -10%;
        width: fit-content;
    }
    #pic{
        /* width: 10%; */
        margin-left: 1%;
        border-radius: 115px;
    }
    #brand{
        /* width: 5%; */
        margin-left: -10%;
    }
    /* footer{
        padding: 2% 0%;
        width: fit-content;
        margin-top: 160%;
        display: none !important;
    }
    footer ul{
        display: inline;
    } */
    #hr{
        text-decoration: underline;
        border-bottom: 1px solid ;
        width: 200px;
        margin-left: -10%;
    }
    .team div p{
        width: fit-content;
    }
    #message{
        margin-top: 3%;
        width: fit-content;
        height: 10%;
    }
    .form{
        margin-top: 30%;
    }
}
